## Pasos para el ETL
---
### Importar las Librerias

In [1]:
import numpy as np
import pandas as pd
print('Se han importado todas las librerias')

Se han importado todas las librerias

### Cargar los Datasets y convertirlos en DataFrame

In [2]:
df_amazon =  pd.read_csv('./Datasets/amazon_prime_titles-score.csv')
df_disney =  pd.read_csv('./Datasets/disney_plus_titles-score.csv')
df_hulu =  pd.read_csv('./Datasets/hulu_titles-score (2).csv')
df_netflix =  pd.read_csv('./Datasets/netflix_titles-score.csv')
print('Se han cargado todos los datasets')

Se han cargado todos los datasets

### Visualizar los primeros 5 registros

In [7]:
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,99
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,37
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,20
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",27
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,75

In [8]:
df_disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,100
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,17
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,92
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",35
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,11

In [9]:
df_hulu.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...,48
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r...",8
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...,8
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...,33
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...,24

In [10]:
df_netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",29
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",86
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,75
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",49
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,92

### Crear una columna Id para cada plataforma

In [11]:
df_amazon.insert(0, 'id','a' + df_amazon.show_id)
df_disney.insert(0, 'id','d' + df_disney.show_id)
df_hulu.insert(0, 'id',  'h' + df_hulu.show_id)
df_netflix.insert(0, 'id','n' + df_netflix.show_id)
print('Se ha creado la columna id')

Se ha creado la columna id

### Verificar cuantos nulos hay en cada dataframe

In [12]:
df_amazon.isna().sum()

id                 0
show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
score              0
dtype: int64

In [13]:
df_disney.isna().sum()

id                0
show_id           0
type              0
title             0
director        473
cast            190
country         219
date_added        3
release_year      0
rating            3
duration          0
listed_in         0
description       0
score             0
dtype: int64

In [14]:
df_hulu.isna().sum()

id                 0
show_id            0
type               0
title              0
director        3070
cast            3073
country         1453
date_added        28
release_year       0
rating           520
duration         479
listed_in          0
description        4
score              0
dtype: int64

In [15]:
df_netflix.isna().sum()

id                 0
show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
score              0
dtype: int64

### Unir DataFrame

In [16]:
#Unir DataFrame
df_integral = pd.concat([df_amazon, df_disney, df_hulu, df_netflix], axis = 0)
print('Se ha creado un nuevo dataframe: "df_integral"')

Se ha creado un nuevo dataframe: "df_integral"

### unificar columnas

In [17]:
#Reemplazar los valores nulos de la columna rating por la letra “G”(general for all audiences)
df_integral['rating']= df_integral['rating'].fillna('G')
print('Se han cambiando los valores nulos de la columna rating')
print('nulos:', df_integral['rating'].isna().sum())

Se han cambiando los valores nulos de la columna rating
nulos: 0

In [18]:
#Verificar tipo de valores
df_integral.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22998 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
 13  score         22998 non-null  int64
dtypes: int64(2), object(12)
memory usage: 2.6+ MB

In [19]:
# Cambiar la columna 'date_added' en Dtype 'datetime' formato AAAA-mm-dd
df_integral['date_added'] = pd.to_datetime(df_integral['date_added'])
print('Se ha convertido satisfactoriamente')
print(df_integral.info())

Se ha convertido satisfactoriamente
<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  datetime64[ns]
 8   release_year  22998 non-null  int64
 9   rating        22998 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
 13  score         22998 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(11)
memory usage: 2.6+ MB
None

In [20]:
'''Por ahora se reemplazaran los valores nulos de la columna duration por 'sin datos' para luego
hacer las correciones pertinentes'''
df_integral['duration']= df_integral['duration'].fillna('sin_dato')
print('Los valores nulos se han cambiado')

Los valores nulos se han cambiado

In [21]:
#Se colocoran todas los datos del dataframe en minusculas
for colum in df_integral:
    if df_integral [colum].dtype == object:
        df_integral[colum] = df_integral[colum].str.lower()
    else:
        next
print('Los registros se han convertido todos en minuscula')

Los registros se han convertido todos en minuscula

In [22]:
# Se unifican los valores de la columna duration de 'seasons' a 'season'
df_integral['duration']=df_integral['duration'].apply( lambda i: i.replace('seasons','season'))
print('Se han cambiado los registros a season')

Se han cambiado los registros a season

### Separar la columna de duration en dos 'duration_int' y 'duration_type'

In [23]:
def sepdurationcolum(df):
    ''' Esta funcion sirve para separar los valores de la columna duracion en
    dos culumnas:
    -duration_int: (tipo integer) y duration_type(tipo string)''' 
    df['duration_int']=df['duration'].apply( lambda i: i.split()[0] if i != 'sin_dato' else '0').astype('int64')
    df['duration_type']=df['duration'].apply( lambda i: i.split()[1] if i != 'sin_dato' else 'sin_dato').astype('str')
    return df

def lower(columna):
    ''' Esta funcion sirve para colocar en miniscula los valores de cada columna''' 
    return columna.str.lower()

In [24]:
#se separan en dos columnas de dos tipos "integer" y "string"
#los nulos de la columna df['duration_int'] se coloco "0", para poder convertir toda la columna en tipo integer
#los nulos de la columna df['duration_type'] se coloco "sin dato", para poder convertir toda la columna en tipo str
df_integral = sepdurationcolum(df_integral)
print('Se han separado la columna de duration en dos tipos "integer" y "string"')

Se han separado la columna de duration en dos tipos "integer" y "string"

#### Guardar el dataframe en un csv

In [25]:
df_integral.to_csv('./Datasets/df_integral.csv', index=False)

### Consultas
---

##### 1- Cantidad de veces que aparece una keyword en el título de peliculas/series, por plataforma

In [26]:
def get_keyword_count (platforma,keyword):
    platform = platforma[0].lower()
    keyword = keyword.lower()
    df = df_integral[ df_integral['id'].str.contains(platform)]
    mask= df['title'].str.contains(keyword)
    counter = len(df[mask])
    return platforma, counter

get_keyword_count('netflix','love')

('netflix', 196)

##### 2- Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año

In [27]:
def get_score_count(platforma, score, year):
    platform = platforma[0].lower()
    df_id = df_integral[ df_integral['id'].str.contains(platform)]
    df_movie = df_id[df_id['type']== 'movie']
    df = df_movie[df_movie['release_year'] == year]
    mask = df['score'] > score
    counter = len(df[mask])
    
    return platforma, counter

get_score_count('netflix',85,2010)

('netflix', 20)

##### 3-La segunda película con mayor score para una plataforma determinada, según el orden alfabético de los títulos.

In [28]:
def get_second_score(platforma):
    platform = platforma[0].lower()
    df_id = df_integral[ df_integral['id'].str.contains(platform)]
    mask = df_id.sort_values(['score','title'],ascending=[False,True])
    title = mask['title'].iloc[1]
    score = mask['score'].iloc[1]
    return title, score

get_second_score('amazon')

('15-minute cardio core 8.0 workout (with weights)', 100)

##### 4-Película que más duró según año, plataforma y tipo de duración

In [29]:
def get_longest(platforma,duration_type,year):
    platform = platforma[0].lower()
    duration_type = duration_type.lower()
    df_id = df_integral[ df_integral['id'].str.contains(platform)]
    df = df_id[df_id['release_year'] == year]
    df_type = df[df['duration_type']== duration_type].sort_values('duration_int',ascending=False)
    title = df_type['title'].iloc[0]
    duration = df_type['duration_int'].iloc[0]
    return title,duration,duration_type

get_longest('netflix','min',2016)

('sairat', 173, 'min')

##### 5-Cantidad de series y películas por rating

In [30]:
def get_rating_count(rating):
    rating= rating.lower()
    df = df_integral[df_integral['rating'] == rating]
    return rating, len(df)

get_rating_count('18+')

('18+', 1243)